* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
p, h4, b {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bordercolor {
	border: 1px solid #ced1d9;
}
.area{
	padding: 0;
	border: 1px solid red;
	border-radius: 3px;
	background-color: rgb(245, 248, 252);
}
body {
	font-family: Arial;
	padding-left: 2px;
	padding-right: 2px;
	color: black;
	background: rgba(182, 195, 212, 0.3);
	margin: 0;
}
#nav_bar {
	display: absolute;
	margin-left: -2px;
	margin-right: -2px;
	padding-top: 5px;
	background: #0082e6;
	height: 45px;
}
.nav_bar_border {
	width: 101%;
	height: 1px;
	border-top: 1px solid black;
	position: fixed;
	top: 45px;
	margin-left: -2px;
}
#nav_bar.add {
	height: 200px;
}
#debtadder {
	z-index: 5;
	position: absolute;
	top: -50%;
	padding: 2px;
}
.table {
	width: 99.5%;
	border-collapse: collapse;
}
#debtediter {
	z-index: 5;
	position: absolute;
	top: -50%;
	padding: 2px;
}
#debtoradder {
	z-index: 5;
	position: absolute;
	top: -50%;
	padding: 2px;
}
#debtorediter {
	z-index: 5;
	position: absolute;
	top: -50%;
	padding: 2px;
}
.options {
	display: inline;
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	max-height: 45px;
}
#home {
	color: white;
	font-size: 1.8em;
	margin-top: 4.5px;
	margin-left: 8px;
}
#edit {
	color: white;
	font-size: 1.8em;
	margin-left: 8px;
}
#add {
	color: white;
	font-size: 2em;
	margin-left: 8px;
}
.form_title {
	position: absolute;
	color: white;
	top: -52px;
	left: 60px;
}

.textfield {
	height: 30px;
	border: none;
	box-sizing: border-box;
	outline: none;
	width: 97.6vw;
	text-align: center;
	background: #ecedf0;
	border-radius: 3px;
	margin-bottom: 3px;
}
.textfield:focus {
	border: 1px solid #0ba6ff;
}
.numfield{
	width: 100%;
	height: 30px;
	border: none;
	box-sizing: border-box;
	outline: none;
	background: #ecedf0;
	text-align: center;
	border-radius: 3px;
}
.numfield:focus {
	border: 1px solid #0ba6ff;
}
label {
	color: white;
	padding: 0 1px;
	font-size: 14px;
}
.adddebtorbtn {
	height: 30px;
	border: none;
	border-radius: 2px;
	margin-top: 2px;
	background: #0ba6ff;
	font-weight: bold;
	color: white;
	width: 49.3%;
}
.debtorsborder {
	border-radius: 0 0 2px 2px;
	padding: 2px;
}
.title {
	line-height: 35px;
	border-bottom: none;
	margin-bottom: 0px;
	border-radius: 2px 2px 0 0;
	border: 1px solid #0082e6;
}
.debtorbtn {
	padding-left: 3px;
	border: 0.1px solid transparent;
	border-bottom: 0.5px solid grey;
	line-height: 10px;
	color: black;
}
.debtor {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 3px;
	display: block;
	line-height: 25px;
}

.debt2 {
	border-collapse: collapse;
	width: 100%;
}
.debt2 thead tr {
	border-bottom: 1px dashed grey;
}
.debt2 tfoot tr {
	border-top: 1px dashed grey;
}
.debt2 thead tr td {
	font-size: 16px;
	font-style: bold;
	letter-spacing: 1px;
	color: black;
	padding: 4px;
}
.debt2 tbody tr td {
	font-size: 14px;
}
.debt2 tfoot tr td {
	font-size: 16px;
}
.wrapper {
	position: fixed;
	bottom: 30px;
	width: 100%;
}
.flash_msg {
	border: 1px solid transparent;
	background: #333333;
	color: white;
	line-height: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	padding: 0px 10px;
}
.info {
	font-size: 12px;
	color: white;
}
.note {
	font-size: 12px;
	color: grey;
	text-align: center;
}
