{% extends "index.html" %}
{% block title%} About us{% endblock %}
{% block body %}
	<h3> About us </h3>
	<p> Welcome to my app! I am Jake Anthony Lanon, the maker of this app. I am borned at Bigaa, Legazpi city on June 10, 2005. I can't finish this app without the help of my friend Janna Reyn Mitra Ricalde. She helped me a little bit on design and grammar. </p>
	<p> This app is meant for those who have a store(sari-sari store). This app will help the store owner to manage the creditors(debtor) in his/store. </p>
{% endblock %}