<!DOCTYPE html>
<html>
<head>
	<title> Debt listing App - {% block title %} {% endblock%}</title>
	<meta charset="UTF-8">
	<meta name="description" content="See all of your creditors debts all in one place">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="Jake Anthony Lanon and Janna Reyn Mitra">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/fontawesome.min.css')}}" />
	
</head>
<body>
	<div id="nav_bar">
		<i class="fa-solid fa-bars" id="drawerBtn"></i>
		<i class="fas fa-home" id="home"></i>
		
		<div  class="options" >
			<i id="save_file" class="fa-solid fa-floppy-disk"></i>
			<i id="add" class="fas fa-plus"></i>
		</div>
	</div>
	
	<div class="nav_bar_border"> </div>
	{% block body%}
	{% endblock %}
	
	
	{% with messages = get_flashed_messages() %}
		{% if messages%}
			{% for msg in messages%}
			<script type="text/javascript">
				setTimeout(function () {
					document.getElementById('flash').style.display = "none";
				}, 3000);
			</script>
			<div class="wrapper" id="flash" >
				<div class="flash_msg">
					<p style="text-align: center;" > {{ msg }} </p>
				</div>
			</div>
			{% endfor%}
		{% endif %}
	{% endwith %}
	
	<div id="nav_drawer">
		<div>
			<p> <a href="{{ url_for('login_page') }}"> Login</a> to import your saved creditors. </p>
		</div>
		<div>
			<p> <a href="{{ url_for('signup_page') }}"> Sign up</a> to save and secure your creditor's info.</p>
		</div>
		<div>
			<p> <a href="{{ url_for('about_us') }}"> About us</a> to know about me and this app.</p>
		</div>
		<div>
			<p> <a href="mailto:newjakelanon01@gmail.com"> Contact us</a> to contact us or to report a issue/s. </p>
		</div>
	</div>
	<script defer src="{{ url_for('static', filename='js/main.js') }}" > </script>

</body>
</html>