<!DOCTYPE html>
<html>
<head>
	<title> Lister App </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/fontawesome.min.css')}}" />
	
</head>
<body>
	<div id="nav_bar">
		<i class="fas fa-home" id="home"></i>
		
		<div  class="options" >
			<i id="edit" class="fas fa-pencil-alt"></i>
			<i id="add" class="fas fa-plus"></i>
		</div>
	</div>
	<div class="nav_bar_border"> </div>
	{% block body%}
	{% endblock %}
	
	
	{% with messages = get_flashed_messages() %}
		{% if messages%}
			{% for msg in messages%}
			<script type="text/javascript">
				setTimeout(function () {
					document.getElementById('flash').style.display = "none";
				}, 3000);
			</script>
			<div class="wrapper" id="flash" >
				<div class="flash_msg">
					<p style="text-align: center;" > {{ msg }} </p>
				</div>
			</div>
			{% endfor%}
		{% endif %}
	{% endwith %}
	
	<p class="note"> Note! Long press an item to edit it.</p>
	<script defer src="{{ url_for('static', filename='js/main.js') }}" > </script>

</body>
</html>