{% extends "index.html" %}
{% block body %}
	<div id="debtadder" >
		<form action="#" method="Post" id="form">
			<h3 class="form_title" align="center"> <b> Add a debt </b> </h3>
			<table class="table">
				<tr>
					<td> <label> Item name </label> </td>
				</tr>
				<tr>
					<td colspan="2"> <input type="text" id="item" name="item" class="textfield" placeholder="Item name" autocomplete="Off" required> </input> </td>
				</tr>
				<tr>
					<td align="center"> <label> Price </label> </td>
					<td align="center"> <label> Quantity </label> </td>
				 </tr>
				<tr>
					<td><input type="number" id="price" name="price" class="numfield" placeholder="Item price" required> </input> </td>
					<td><input type="number" id="qtt" name="qty" class="numfield" placeholder="Item quantity" required> </input> </td>
				</tr>
			</table>
			<center>
				<input type="submit" class="adddebtorbtn" value="Add on list" name="adddebt" > </input>
			</center>
		</form>
	</div>
	
	<div id="debtediter" >
		<form action="#" method="Post" id="form">
			<h3 class="form_title" align="center"> <b> Edit this debt </b> </h3>
			<input type="hidden" name="debt_id" id="debt_id"> </input>
			<table class="table">
				<tr>
					<td> <label> Item name </label> </td>
				</tr>
				<tr>
					<td colspan="2"> <input type="text" id="edit_item" name="new_item" class="textfield" placeholder="Item name" autocomplete="Off" required> </input> </td>
				</tr>
				<tr>
					<td align="center"> <label> Price </label> </td>
					<td align="center"> <label> Quantity </label> </td>
				</tr>
				<tr>
					<td> <input type="number" id="edit_price" name="new_price" class="numfield" placeholder="Item price" required> </input> </td>
					<td> <input type="number" id="edit_qtt" name="new_qty" class="numfield" placeholder="Item quantity" required> </input> </td> 
				</tr>
				<tr>
					<td> <input type="submit" style="width: 100%" class="adddebtorbtn" value="Delete this item" name="delete_debt"> </input> </td>
					<td> <input type="submit" style="width: 100%" class="adddebtorbtn" value="Save changes" name="save_debt"> </input> </td> 
				</tr>	
			</table>
		</form>
	</div>
	
	{% if ctx.debts_len != 0%}
		<h3 class="debtor"> {{ ctx.debtor.name }}'s debts </h3>
		<div style="width: 100%; border-radius: 5px; background: rgb(230,230,230);">
			<table class="debt2">
				<thead>
					<tr>
						<td align="center" > Name </td>
						<td align="center"> QTY </td>
						<td align="center"> Price </td>
						<td align="right"> Total </td>
					</tr>
				</thead>
				<tbody>
					{% for debt in ctx.debts %}
					<tr id="{{ debt.id }}" ontouchstart="start_longpress('{{ debt.id }}')" ontouchend="stop_longpress()">
						<td> {{ debt.itemName }} </td>
						<td align="center"> {{ debt.quantity }} </td>
						<td align="center"> {{ debt.price }} </td>
						<td align="right"> <b> {{ debt.total }} </b> </td>
					</tr>
					{% endfor%}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2" align="right"> <b> Total Amount </b> </td>
						<td colspan="2" align="right"> <b> {{ ctx.debtor.total_amount }} </b> </td>
					</tr>
				</tfoot>
			</table>
		</div>
		
		<p class="note"> Note! Long-press an item to edit it.</p>
	
	{% else %}
		<h3 style="color: grey; text-align:center;"> {{ ctx.debtor.name }} has no debt/s yet. Click the plus icon to add one. </h3>
	{%endif%}
	
{% endblock %}